/*------------HOME PAGE------------*/
.home { 
	background-color:#FFFFFF;
	width:1440px;
	height:900px;
	position:absolute;
    overflow: hidden;
}
.bunbun {
    width:125px;
	height:143px;
	position:absolute;
	left:45px;
	top:15px;
}
/*LOGO*/
.bunbun img {
	width:117px;
	height:117px;
	position:absolute;
	left:1px;
	top:-10px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
/*LOGO TITLE*/
.bunbun h2 {
	color:#000000;
	width:125px;
	height:42px;
	position:absolute;
	left:0px;
	top:65px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:32px;
	letter-spacing:2px;
}

/*-----LINKS-----*/
a {
    text-decoration: none;
}
a:visited {
    color: #000000;
}

/*-----NAV BAR-----*/
ul {
    list-style: none;
}
/*UNDER ORDER*/
.nav_line {
    background-color:#FF9330;
	width:87px;
	height:6px;
	position:absolute;
	left:1002px;
	top:120px;
}
.about {
    position: absolute;
    width: 93px;
    height: 44px;
    left: 806px;
    top: 50px;
    font-family: Airbnb Cereal App;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.02em;
    color: #000000;
}
.order {
    position: absolute;
    width: 86px;
    height: 44px;
    left: 949px;
    top: 50px;
    font-family: Airbnb Cereal App;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.02em;
    color: #000000;
}
.contact {
    position: absolute;
    width: 120px;
    height: 44px;
    left: 1085px;
    top: 50px;
    font-family: Airbnb Cereal App;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.02em;
    color: #000000;
}
.cart {
    position: absolute;
    width: 120px;
    height: 44px;
    left: 1255px;
    top: 50px;
    font-family: Airbnb Cereal App;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.02em;
    color: #000000;
}

/*-----HOME PAGE BODY-----*/
.home_title { 
	color: #000000;
	width:370px;
	height:94px;
	position:relative;
	left:112px;
	top:258px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:45px;
    font-weight: 400;
	letter-spacing:2px;
}
.home_heading {
	color:#000000;
	width:608px;
	height:132px;
	position:absolute;
	left:109px;
	top:486px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:30px;
}
/*-----ORDER NOW BUTTON-----*/
.order_button {
	width:358px;
	height:79px;
	position:absolute;
	left:109px;
	top:668px;
}
.button {
    background-color:#FF9330;
	width:358px;
	height:79px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.order_now {
	color:#FFFFFF;
	width:186px;
	height:46px;
	position:absolute;
	left:86px;
	top:17px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:35px;
}
/*PHOTO OF BUN ON HOME PAGE*/
.bun_photo {
    width:518px;
	height:363px;
	position:absolute;
	left:813px;
	top:337px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}


/*------------ORDER PAGE------------*/
.products h2 {
    color:#000000;
	width:144px;
	height:65px;
	position:absolute;
	left:96px;
	top:190px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:45px;
}

/*-----BOXES FOR ITEMS-----*/
.box1 {
    background-color:#FFFFFF;
	width:394px;
	height:475px;
	position:absolute;
	left:96px;
	top:325px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    border:3px solid #808080;
}
.box2 {
	background-color:#FFFFFF;
	width:394px;
	height:475px;
	position:absolute;
	left:523px;
	top:325px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    border:3px solid #808080;
}
.box3 {
	background-color:#FFFFFF;
	width:394px;
	height:475px;
	position:absolute;
	left:950px;
	top:325px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    border:3px solid #808080;
}
.box4 {
	background-color:#FFFFFF;
	width:394px;
	height:475px;
	position:absolute;
	left:96px;
	top:850px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    border:3px solid #808080;
}
.box5 {
	background-color:#FFFFFF;
	width:394px;
	height:475px;
	position:absolute;
	left:523px;
	top:850px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    border:3px solid #808080;
}
.box6 {
    background-color:#FFFFFF;
	width:394px;
	height:475px;
	position:absolute;
	left:950px;
	top:850px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    border:3px solid #808080;
}

/*TITLES FOR ITEMS*/
.original, .blackberry, .walnut, .gluten_free, .pumpkin_spice, .caramel_pecan {
	color:#000000;
	width:250px;
	height:39px;
	position:absolute;
	left:40px;
	top:274px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:30px;
}

/*PRICE FOR ITEMS*/
.price1, .price2, .price3, .price4, .price5, .price6 {
    width:36px;
	height:39px;
	position:absolute;
	left:318px;
	top:274px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:30px;
}

/*DESCRIPTION FOR ITEMS*/
.description1, .description2, .description3, .description4, .description5, .description6 {
	color:#000000;
	width:314px;
	height:112px;
	position:absolute;
	left:40px;
	top:333px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:18px;
}

/*-----IMAGE FOR ITEMS-----*/
.box1 img, .box2 img, .box3 img, .box4 img, .box5 img, .box6 img {
    width:243px;
	height:194px;
	position:absolute;
	left:75px;
	top:40px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.box2 img:last-child {
    width:145px;
	height:120px;
	position:absolute;
	left:230px;
	top:140px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.box3 img:last-child {
	width:112px;
	height:105px;
	position:absolute;
	left:245px;
	top:140px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.box4 img:last-child {
    width:87px;
	height:87px;
	position:absolute;
	left:245px;
	top:140px;
	background-image:url(images/image_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.box5 img:last-child {
    width:151px;
	height:100px;
	position:absolute;
	left:230px;
	top:140px;
	background-image:url(images/image_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.box6 img:last-child {
    width:161px;
	height:161px;
	position:absolute;
	left:210px;
	top:115px;
	background-image:url(images/image_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}

/*------------ORIGINAL BUN PAGE------------*/
.original_bun h2 {
    color:#000000;
	width:300px;
	height:78px;
	position:absolute;
	left:729px;
	top:260px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:50px;
}
/*ORIGINAL BUN PHOTO*/
.original_bun img {
	width:409px;
	height:325px;
	position:absolute;
	left:154px;
	top:365px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}

/*-----BACK BUTTON-----*/
.back {
	width:180px;
	height:44px;
	position:absolute;
	left:45px;
	top:240px;
}
.go_back {
	color:#000000;
	width:121px;
	height:39px;
	position:absolute;
	left:59px;
	top:3px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:30px;  
}
.back img {
    width:44px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_10.png);
	background-repeat:no-repeat;
	background-size:cover;
}

/*-----GLAZE-----*/
#glaze {
    background: #FFFFFF;
    position: relative;
}
.glaze h2 {
	color:#000000;
	width:103px;
	height:37px;
	position:absolute;
	left:739px;
	top:375px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:28px;
}
.glazing {
    background: #FFFFFF;
    position: relative;
    color: #000000;
    border: 1px solid #808080;
    padding: 20px 20px;
    border-radius: 10px;
    text-align: center;
    font-size:20px;
    font-family:Airbnb Cereal App;
    justify-content: space-between;
}
.glazing.active {
    background-color:#FFD6B0;
}

/*-----QUANTITY-----*/
#quantity {
    background: #FFFFFF;
    position: relative;
}
.quantity h2 {
	color:#000000;
	width:121px;
	height:37px;
	position:absolute;
	left:739px;
	top:527px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:28px;
}
.item_quantity {
    background: #FFFFFF;
    color: #000000;
    position: relative;
    border: 1px solid #808080;
    padding: 20px 50px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-family:Airbnb Cereal App;
    justify-content: space-between;
}
.item_quantity.active {
    background-color:#FFD6B0;
}

/*-----INGREDIENTS INFO-----*/
.ingredients_title {
    color:#000000;
	width:140px;
	height:37px;
	position:absolute;
	left:154px;
	top:720px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:25px;
    font-weight: 500;
}
.ingredients_description {
    color:#000000;
	width:465px;
	height:108px;
	position:absolute;
	left:154px;
	top:765px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:22px;
}

/*-----ADD TO CART BUTTON-----*/
.add_to_cart_button {
	background-color:#FFD6B0;
	width:184px;
	height:68px;
	position:absolute;
	left:1103px;
	top:721px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.add_to_cart {
	color:#000000;
	width:140px;
	height:30px;
	position:absolute;
	left:1125px;
	top:740px;
	font-family:Airbnb Cereal App;
	text-align:center;
	font-size:22px;  
}

/*------------SHOPPING CART PAGE------------*/
.s_cart h2 {
    color:#000000;
	width:350px;
	height:65px;
	position:absolute;
	left:96px;
	top:190px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:45px;
}
.item_title {
    color:#000000;
	width:180px;
	height:37px;
	position:absolute;
	left:338px;
	top:354px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:30px;
	letter-spacing:2;
}
.item_price {
    color:#000000;
	width:96px;
	height:37px;
	position:absolute;
	left:726px;
	top:354px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:30px;
	letter-spacing:2;
}
.item_glaze {
    color:#808080;
	width:206px;
	height:28px;
	position:absolute;
	left:338px;
	top:401px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:25px;
	letter-spacing:2;
}
.item_edit {
    color:#FF9330;
	width:43px;
	height:29px;
	position:absolute;
	left:338px;
	top:437px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:22px;
	letter-spacing:2;
    text-decoration: underline;
}
.original_bun_cart_box {
    border:2px solid #808080;
    width:200px;
	height:165px;
	position:absolute;
	left:96px;
	top:325px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.original_bun_cart_box img {
    width:171px;
	height:136px;
	position:absolute;
	left:11px;
	top:15px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.edit_quantity {
    border:2px solid #808080;
    width:87px;
	height:41px;
	position:absolute;
	left:733px;
	top:423px;
}
.bun_quantity {
    color:#000000;
	width:17px;
	height:39px;
	position:absolute;
	left:33px;
	top:1px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:30px;
}
.subtract_quantity {
    border:2px solid #808080;
    width:41px;
	height:41px;
	position:absolute;
	left:690px;
	top:423px;
}
.subtract {
    color:#000000;
	width:12px;
	height:39px;
	position:absolute;
	left:15px;
	top:1px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:30px;
}
.add_quantity {
    border:2px solid #808080;
    width:41px;
	height:41px;
	position:absolute;
	left:822px;
	top:423px;
}
.add {
    color:#000000;
	width:18px;
	height:39px;
	position:absolute;
	left:11px;
	top:1px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:30px;
}
.delete {
    width:40px;
	height:40px;
	position:absolute;
	left:888px;
	top:351px;
	background-image:url(images/x.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.subtotal_box {
    border:2px solid #808080;
    width:370px;
	height:361px;
	position:absolute;
	left:1005px;
	top:325px;
}
.subtotal_title {
    color:#000000;
	width:182px;
	height:44px;
	position:absolute;
	left:94px;
	top:29px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:25px;
}
.subtotal_price {
    color:#000000;
	width:132px;
	height:44px;
	position:absolute;
	left:110px;
	top:75px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:80px;
    font-weight: 500;
}
.subtotal_go_back {
    color:#FF9330;
	width:206px;
	height:29px;
	position:absolute;
	left:87px;
	top:297px;
	font-family:Airbnb Cereal App;
	text-align:left;
	font-size:22px;
	text-decoration: underline;
}
.checkout_button {
    background-color:#FFD6B0;
	width:291px;
	height:66px;
	position:absolute;
	left:1044px;
	top:533px;
}
.check_out {
    color:#000000;
	width:136px;
	height:30px;
	position:absolute;
	left:77px;
	top:18px;
	font-family:Airbnb Cereal App;
	text-align:center;
	font-size:25px;
	letter-spacing:2;
}